body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

form {
    margin-top: 20px;
}

label, input {
    margin: 10px;
}

button {
    padding: 5px 10px;
}


#exportar-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 100px;
}


#datos-meteorologicos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#datos-meteorologicos input {
    width: 100px; 
    height: 30px;
    margin: 5px; 
    font-size: 16px; 
}

#datos-meteorologicos div {
    display: flex;
    flex-direction: column;
}

#semana-selector {
    width: 200px; 
    height: 40px; 
    font-size: 16px;
    display: block; 
}

#contenedor-grafico {
    width: 900px; 
    height: 500px; 
    display: none; 
}

#informe-meteorologico {
    display: none;
}

.rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.drop {
    position: absolute;
    width: 4px;
    height: 15px;
    background-color: rgb(76, 178, 238);
    opacity: 0.9;
    animation: fall linear infinite 500ms;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
